numpy==2.1.2
openai==1.52.0
pandas==2.2.3
Pillow==10.4.0
protobuf==5.28.2
pymongo==4.10.1
PyPDF2==3.0.1
pytesseract==0.3.13
python-dateutil==2.9.0.post0
regex==2024.9.11
requests==2.32.3
setuptools==75.2.0
streamlit==1.39.0
six==1.15.0
textract==1.6.5
tiktoken==0.8.0
jsonschema==4.17.3
python-docx==0.8.11




